/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Lobster);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

main {
  clear: right;
  margin-top: 0;
}

.container {
  padding: 10px;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

ul li {
  list-style-position: inside;
  list-style-type: square;
}

ol li {
  list-style-position: inside;
  list-style-type: decimal;
}

header {
  background-color: #434d57;
  line-height: 50px;
}

header.transparent {
  background-color: inherit;
}

header nav {
  float: right;
}

header h1,
header .nav-logo {
  color: white;
  display: inline-block;
  font-family: 'Lobster';
  font-size: 25px;
  margin-left: 20px;
}

header .nav-link {
  color: white;
  font-family: 'Open Sans';
  margin-right: 20px;
  opacity: .8;
}

header button {
  background: 0;
  border: 0;
  color: white;
  display: none;
  float: right;
  font-size: 1.75em;
  margin: 9px 10px;
}

@media (max-width: 750px) {
  header button {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  header .nav-desktop {
    display: none;
  }
}

header .nav-mobile {
  display: none;
  float: none;
  text-align: center;
}

header .nav-mobile ul li {
  list-style-type: none;
}

footer {
  background-color: #434d57;
  color: white;
  height: 50px;
  padding-left: 10px;
  padding-top: 25px;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
  list-style-type: none;
  padding-bottom: 10px;
}

footer ul li a {
  color: white;
  opacity: .9;
}

footer .footer-social {
  font-size: 1.25em;
  padding: 0 10px;
}

.footer-copy {
  background-color: #2d343a;
  color: white;
  padding: 10px 20px;
}

.hero {
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 300px;
  padding: 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
