footer
  ul
    li: a(href="https://github.com/lannonbr/Tempora"): i.fa.fa-github.footer-social
      |  Github
    li: a(href="#"): i.fa.fa-slack.footer-social
      |  Slack
    li: a(href="#"): i.fa.fa-twitter.footer-social
      |  Twitter
.footer-copy
  p &copy; Copyright Benjamin Lannon 2016
