header
  a(href="./index.html").nav-logo Tempora
  nav.nav-desktop
    a(href="./gettingstarted.html").nav-link Getting Started
    a(href="./examples.html").nav-link Components
    a(href="./news.html").nav-link News
    a(href="./download.html").nav-link Download
  button(onclick="toggleMobileNav()"): i.fa.fa-bars
  nav.nav-mobile
    ul
      li: a(href="./gettingstarted.html").nav-link Getting Started
      li: a(href="examples.html").nav-link Components
      li: a(href="./news.html").nav-link News
      li: a(href="./download.html").nav-link Download
