.hero {
  background-image: url('../img/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 300px;
  padding: 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
