doctype
html
  head
    title Tempora
    link(rel="stylesheet" href="css/tempora.css")
    link(rel="stylesheet" href="css/main.css")
    script(src='https://use.fontawesome.com/4da860b55e.js')
  body
    nav
      a(href="./index.html").nav-logo Tempora
      a(href="./download.html").nav-link Download
      a(href="./news.html").nav-link News
      a(href="./about.html").nav-link About
      a(href="examples.html").nav-link Components
      a(href="./gettingstarted.html").nav-link Getting Started
    main
      p This is the main section
    footer
      p &copy; Copyright Benjamin Lannon 2016
      ul
        i.fa.fa-github.footer-social: a(href="https://github.com/lannonbr/Tempora")
