
doctype
html
  head
    title Tempora
    link(rel="stylesheet" href="css/tempora.css")
  body
    header
      h1 Tempora
    main
      p
        b Notice:
        | This is just going to be a long list of components that I am going to focus on when developing Tempora
      h5 Headers
      h1 Header 1
      h2 Header 2
      h3 Header 3
      h4 Header 4
      h5 Header 5
      h6 Header 6
      h5 Plain input boxes
      input(placeholder="input box")
      input(disabled placeholder="disabled input box")
      h5 Buttons
      button button
      button(disabled) disabled button
      h5 Checkboxes
      input(type="checkbox" disabled)
      input(type="checkbox")
      input(type="checkbox" checked)
      h5 Radiobuttons
      input(type="radio" disabled)
      input(type="radio")
      input(type="radio" checked)
      h5 dropdown select list
      select
        option(value="1") Option 1
        option(value="2") Option 2
        option(value="3") Option 3
      h5 Ordered list
      ol
        li List item 1
        li List item 2
        li List item 3
      h5 Unordered list
      ul
        li List item 1
        li List item 2
        li List item 3
      h5 Horizontal rule
      hr
      h5 Blockquote
      blockquote "To be or not to be. That is the question."
      h5 progressbar
      progress(value="50" max="100")
      h5 Paragraph
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis a nisl
        gravida venenatis. Donec quis feugiat nisl. Mauris venenatis odio non quam mollis
        viverra. Ut eu mauris tempor, bibendum mi eget, placerat elit. Donec purus leo, sagittis
        semper posuere vel, auctor non dui. Donec non orci volutpat, vehicula justo et,
        consequat lectus. Nam pretium lacinia venenatis. Proin scelerisque commodo cursus.
        Mauris urna enim, ullamcorper eget ultricies sed, pellentesque ac purus. Aenean ac
        facilisis orci. Duis tempus interdum purus vel eleifend.
      h5 Links
      a(href="") Go to this cool thing!
    footer
